# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
/structure_of__isms.patch
/out
/src/common
/src/resources
/src/guardians
/src/members

gen
